@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Cinzel";
  color: #333;
}
.navbar {
  display: flex;
  padding: 25px;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(230, 85, 85);
}

.navbar a {
  text-decoration: none;
  margin-left: 2rem;
  padding: 0.5rem;
}
.navbar a:hover {
  color: rgb(230, 85, 85);
}

.navbar .links {
  margin-left: auto;
}

.content {
  max-width: 600px;
  padding: 2rem;
  margin: 20px auto;
}
